[submodule "external/uthash"]
	path = external/uthash
	url = https://github.com/arnognulf/uthash.git
[submodule "external/linenoise"]
	path = external/linenoise
	url = https://github.com/arnognulf/linenoise.git
[submodule "external/commander"]
	path = external/commander
	url = https://github.com/arnognulf/commander.git
