Package: usch
Version: 0.0.1-1
Architecture: amd64
Maintainer: Thomas Eriksson <thomas.eriksson@gmail.com>
Installed-Size: 29
Section: shells
Priority: optional
Homepage: https://github.com/arnognulf/usch
Description: C shell done right.
 A C shell which compiles all statements, and load them as dynamic libraries.
